{% extends 'filmlib/base_film.html' %}

{% block title %}
Add movie - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="container"> 
    <!-- Material form contact -->
    <div class="card">

        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Search movie</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">

            <!-- Form -->
            <form class="text-center" style="color: #757575;" action="#!" method="Post">
            {% csrf_token %}

                <!-- Movie Name -->
                <div class="md-form mt-3">
                    {% comment %} <label for="materialContactFormName">Movie name</label> {% endcomment %}
                    <input type="text" id="materialContactFormName" name="movie_name" class="form-control" placeholder="Movie name">        
                </div>

                <!-- Send button -->
                <button class="btn blue-gradient btn-rounded btn-block my-4 waves-effect" type="submit">Send</button>

            </form>
            <!-- Form  --> 

            

        </div>

    </div>
    <!-- Material form contact -->
</div>

{% if search_results %}
<div class="container"> 

    {% include 'filmlib/includes/movies_card.html' %}

</div>
{% endif %}
{% endblock content %}