    {% load filmlib_filters %}
    <!--Grid row-->
    <div class="row">
        {% for movie in movies %}
        <!--Grid column-->
        <div class="col-lg-4 col-md-6">

            <!-- Card -->
            <div class="card mb-4">

                <!-- Card image -->
                <div class="view overlay">
                <img class="card-img-top" src="{{ movie.3 }}" alt="Card image cap">
                <a href="{{ movie.2 }}">
                    <div class="mask rgba-white-slight"></div>
                </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">{{ movie.0 }}</h4>
                <!-- Text -->
                <p class="card-text"> Rating : {{ movie.1 }}</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <a href="{% url 'add_new_movie' movie.4 %}" class="btn btn-primary btn-md">Add to our base</a>

                </div>
                <!-- Card content -->

            </div>
            <!-- Card -->

        </div>
        <!--Grid column-->
        {% endfor %}
    </div>
    <!--Grid row-->